# **data type and structure question**

**1. What are data structures, and why are they important?**

- Data structures are ways to organize and store data in a computer so that it can be used efficiently. Think of them like different types of containers that hold information.

**2. Explain the difference between mutable and immutable data types with examples**

- mutable >> Can be changed after creation.
example> list

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10  # Change the first element
print(my_list)

[10, 2, 3]

- immutable >> can't be change the value
example > tuple

In [ ]:
my_tuple=("hello",2,4,5,5)
my_tuple[2]=20 # this was cause a error
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

**3. What are the main differences between lists and tuples in Python?**

- list>

1. list is mutable
2. it define using square brackets[]
3. Generally slower than tuples because they allow modifications.
4.Used when you need a collection of items that may change, such as a list of user inputs.
5.have many built-in methods (like append(), remove(), sort()) for modifying the list.

- tuple
1. tuple is immutable
2. it define using perentheses
3. Faster than lists due to their immutability, making them more efficient in terms of memory and performance.
4. Used when you need a fixed collection of items, such as coordinates or a record of data that should not change
5.  Have fewer built-in methods (like count() and index()) since they cannot be modified.

**4. Describe how dictionaries store data.**

- dictionaries in Python are a type of data structure that store data in key-value pairs.

In [ ]:
my_dict={"name":"siddharth","age":19,"ADDRESS":"manasa"}
print(my_dict)

{'name': 'siddharth', 'age': 19, 'ADDRESS': 'manasa'}

**5. Why might you use a set instead of a list in Python?**

- You might use a set instead of a list in Python when you need to store a collection of unique elements, as sets automatically eliminate duplicates, provide faster membership testing, support efficient mathematical operations like union and intersection, and do not maintain any specific order, making them ideal for scenarios where uniqueness and performance are prioritized over element order

**6. What is a string in Python, and how is it different from a list?**

- A string in Python is a sequence of characters used to represent text, and it is immutable, meaning once created, its content cannot be changed, while a list is a collection of items (which can be of different types) that is mutable, allowing you to modify, add, or remove elements after it is created; in simple terms, strings are for text that doesn't change, while lists are for collections of items that can change.

**7. How do tuples ensure data integrity in Python?**

- Tuples ensure data integrity in Python by being immutable, meaning that once a tuple is created, its contents cannot be changed, added, or removed, which helps prevent accidental modifications and maintains the original data throughout the program.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table is a data structure that stores key-value pairs efficiently, making it quick to look up, add, or remove items. It works by using a hash function to convert a key into an index, where the corresponding value is stored.

In Python, dictionaries (dict) are built using hash tables! When you create a dictionary and store values using keys, Python uses a hash table behind the scenes to organize and access the data quickly. That's why looking up a value in a dictionary is super fast—even with lots of data.

**9. Can lists contain different data types in Python?**

- Yes! In Python, a list can hold different types of data in one place. You can mix numbers, strings, booleans, and even other lists together!

In [ ]:
my_list=[1,"hello",3.6,True,[1,2,4,5]]
print(my_list)

[1, 'hello', 3.6, True, [1, 2, 4, 5]]

**10. Explain why strings are immutable in Python.**

- In Python, strings are immutable, meaning once you create a string, you cannot change it. This happens because strings are stored in a way that makes them efficient and safe to use.

**11. What advantages do dictionaries offer over lists for certain tasks**

- Dictionaries offer several advantages over lists for certain tasks because they store data as key-value pairs, making them faster and more efficient in many scenarios. Here are some key benefits:

1. Fast Lookup

In a list, searching for an item requires scanning the entire list (O(n) time complexity).
In a dictionary, looking up a value using a key is super fast (O(1) time complexity on average) thanks to hashing.

2. Meaningful Data Organization
lists store items in a sequence, while dictionaries store data in an easily readable key-value format.

3. asy Updates & Modifications
Adding or updating values in a dictionary is more efficient than modifying elements in a list, especially for large datasets.

4. Avoiding Duplicates
Keys in a dictionary are unique, meaning there can’t be duplicate keys. Lists allow duplicate values, which can lead to unnecessary repetition or confusion.

5. Better for Large Data Sets
If you have lots of data and need frequent lookups, dictionaries save time by directly accessing values rather than scanning through a list.

**12. Describe a scenario where using a tuple would be preferable over a list.**

- A tuple is better than a list when you need data that should not change.
Example: Storing coordinates (latitude & longitude) for a location.

Tuples are immutable, preventing accidental changes.They use less memory, making them efficient.They can be used as dictionary keys because they are fixed.
Use tuples when data needs to stay the same!

 **13. How do sets handle duplicate values in Python**

In Python, sets automatically remove duplicates! When you add duplicate values to a set, only unique items are kept.

**14. How does the “in” keyword work differently for lists and dictionaries?**

- The in keyword checks if an item exists in a collection, but works differently for lists and dictionaries:

In Lists > Checks if a value exists in the list.

In Dictionaries > Checks if a key exists, not values.

**15. Can you modify the elements of a tuple? Explain why or why not**

- No, you cannot modify the elements of a tuple because tuples are immutable in Python.

Once a tuple is created, its values cannot be changed, added, or removed. This makes tuples useful for storing fixed data that should not be accidentally modified.

**16. What is a nested dictionary, and give an example of its use case?**

- A nested dictionary is a dictionary inside another dictionary. It helps organize data in a structured way, making it easy to access related information.

**17. Describe the time complexity of accessing elements in a dictionary.**

- Accessing elements in a dictionary is very fast!

----Time Complexity>>>

Average case: O(1) (constant time) → It takes the same amount of time to find an element, no matter how big the dictionary is.

Worst case: O(n) (linear time) → This happens rarely when there's a hash collision, meaning multiple keys accidentally end up at the same place.

**18. In what situations are lists preferred over dictionaries?**

- Lists are preferred over dictionaries in these situations:
     1. When Order Matters >> Lists keep elements in a specific order.
     2. When You Need to Store Similar Items >> Lists are ideal for storing groups of related items, like a collection of names, numbers, or colors.
     3. When You Need Easy Iteration >> Looping through a list is straightforward, making it useful for tasks like checking all items or performing calculations.
     4. When You Don’t Need Fast Lookups >> Dictionaries are faster for finding specific items, but if you don’t need quick searching by a key, lists work just fine.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Dictionaries are considered unordered because they don’t store items in a fixed sequence like lists do. Instead, they use keys to find values quickly, without worrying about their position.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

 - Explain the difference between a list and a dictionary in terms of data retrieval.

 List>>



Ordered → Items are stored in a sequence.

Access by index → You retrieve data using a position number (e.g., list[0]).

Slower for searching → If you need to find an item, you may have to check every element one by one.


Dictionary>>   


Unordered → Items are stored using unique keys.

Access by key → You retrieve data using a specific name (e.g., dict["name"]).

Faster for searching → Since dictionaries use hash tables, they quickly find values without scanning everything.

# **Practical Questions**

**1. Write a code to create a string with your name and print it.**

In [1]:
name = "siddharth"
print(name)

siddharth

**2. Write a code to find the length of the string "Hello World".**

In [2]:
n= "Hello World"
print(len(n))

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
a = "siddharth sen"
print(a[0:3])

sid

**4. Write a code to convert the string "hello" to uppercase.**

In [4]:
a = "hello"
print(a.upper())

HELLO

**5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [8]:
text = "i like apple"
print(text)
new_text = text.replace("apple","orange")
print(new_text)

i like apple
i like orange

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [9]:
L = [1,2,3,4,5]
print(L)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [10]:
L = [1,2,3,4]
L.append(10)
print(L)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [14]:
L = [1,2,3,4,5]
L.remove(3)
print(L)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [16]:
lis=["a","b","c","d"]
print(lis[1])

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [23]:
l = [10,20,30,40,50]
reverse_l = l[::-1] # using slicing method
print(reverse_l)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [24]:
t = (100,200,300)
print(t)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [27]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [30]:
my_tuple = (10, 20, 5, 15)
min_tuple = min(my_tuple)
print(min_tuple)

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [31]:
animal = ('dog', 'cat', 'rabbit')
index_of_cat = animal.index("cat")
print(index_of_cat)

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [36]:
tup = ("apple","kiwi","banana")
if "kiwi" in tup:
   print("kiwi is in the tuple")
else:
     print("kiwi is not in the tuple")

kiwi is in the tuple

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [39]:
s = {"a","b","c"}
print(type(s))
print(s)

<class 'set'>
{'b', 'a', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [42]:
set_element = {1,2,3,4,5}
set_element.clear()
print(set_element)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [43]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [44]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [45]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [47]:
dic = {"name":"siddharth","age":19,"city":"manasa"}
print(dic)

{'name': 'siddharth', 'age': 19, 'city': 'manasa'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [49]:
 my_dict = {'name': 'John', 'age': 25}
 my_dict["country"] = "USA"
 print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [50]:
my_dict = {"name":"alice","age":30}
print(my_dict["name"])

alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [51]:
dict_a= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_a.pop("age")
print(dict_a)

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [52]:
info =  {'name': 'Alice', 'city': 'Paris'}
if "city" in info :
    print("city is in the dictionary")
else:
  print("city is not in the dictionary")

city is in the dictionary

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [55]:
l = [1,2,3,5.9]
t= (1,2,3,4.5)
dic = {"name":"siddharth","age":19,"city":"manasa"}
print(l),(t),(dic) # this give none in tuple because The first element is the return value of print(l), which is None.
print (l)
print(t)
print(dic)

[1, 2, 3, 5.9]
[1, 2, 3, 5.9]
(1, 2, 3, 4.5)
{'name': 'siddharth', 'age': 19, 'city': 'manasa'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).**

In [59]:
numbers = [((i * 66) % 100) + 1 for i in range(1, 6)]  # Generating pseudo-random numbers
numbers.sort()  # Sorting in ascending order
print(numbers)

[31, 33, 65, 67, 99]

****

**28. Write a code to create a list with strings and print the element at the third index**

In [62]:
l = ("siddharth","manasa","nimuch","delhi")
print(l[3])

delhi

**29. Write a code to combine two dictionaries into one and print the result.**

In [63]:
dict1 = {"name":"siddharth","age":19}
dict2 = {"city":"manasa","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'siddharth', 'age': 19, 'city': 'manasa', 'country': 'india'}

**30. Write a code to convert a list of strings into a set**

In [64]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}